
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: 'Roboto', sans-serif;   
}

.container {
    max-width: 2056px;
    margin: auto;
}

header h1 {
    text-align: center;
    margin: 10px;
    padding: 20px;
    font-size: 48px;
}
.container main{
    background-color: #24272E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 25px;
    color: white;
    font-size: 24px;
    margin-bottom: 24px;;
}

.span {
    border: 4px solid white;
    width: 160px;
    height: 100%;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 36px;
    font-size: 56px;
    padding: 7px;
}

.score-board h2 {
    text-align: center;
}

.user img {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  }

  .computer img {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  }

  .game-over {
    font-size: 48px;
    color: white;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: bold;
    /*
    box-shadow: 0px 16px 15px -9px rgba(83, 83, 81, 0.15);
    */
  }

  .choices {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 36px;
    margin-top: 24px;
    margin-bottom: 24px;

  }

  .choices img {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
    clip-path: circle(42.9% at 49% 51%);
   
  }

  .choice{
    transition: transform 0.5s;
    box-shadow: 0px 16px 15px -9px rgba(239, 251, 15, 0.15);
    border-radius: 50%;
  }

  .choice:hover{
    transform: translateY(-5px);
  }

  .action {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 24px;
    color: white;
    font-weight: bold;
  }